
@media only screen and (max-width: 1024px) {
    .main {
        border: 2px solid red;
        width: 1024px;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {

    .main {
        width: 1024px;
    }
}

@media only screen and (min-width: 1600px) and (max-width: 2560px){
    .main {
        width: 65vw;
        max-width: 1400px;
    }

    .leftColumn {
        display: block;
        width: 15vw;
        max-width: 1400px;
        border: 2px solid black;
    }

    .chatRequest {
        width: 20vw;
        border: 2px solid lightskyblue;
        height: 100vh;
    }
}

.main {
    height: 100vh;
    border: 2px solid red;
    padding: 15px;
}

body {
    display: flex;
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
}

h1 {
    color: #375e97;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #375e97;
}

h2 { 
    font-size: 1.5em;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link,
a:visited {
    color: #fb6542;
}

a:hover {
    text-decoration: none;
}

.header{
    display: flex;
    padding: 10px;
    height: 100px;
    width: auto;
    border: 3px solid gold;
    margin: 5px;
}


.dataTable{
    display: block;
    margin: 15px;
    border: 2px solid blue;
}

.leftColumn{

}

.listBox{
    width: 100px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
}

.listBox option{
    padding: 2px;
}

.boxDatePeriod{
    width: 35vw;
    height: 100%;
    padding: 5px;
    border: 4px solid red;
}

.datePeriod{
    padding: 5px;
    border: 2px solid green;
}

.boxObjectShop{
    display: block;
    height: 100%;
    width: 35vw;
    padding: 5px;
    border: 4px solid blue;
}

.boxExecutor{
    display: block;
    padding: 5px;
    height: 100%;
    border: 4px solid purple;
    width: 35vw;
}